/* Reset body margin to 0 and prevent scrolling for the whole page */
body {
  background-color: rgba(255, 255, 255, 1);
  margin: 0;
}

/* Styles for the Google Form iframe */
iframe {
  display: block;
  width: 100%;
  z-index: 995;
  height: calc(100vh - 20px); /* Adjust the height to leave space for the top margin */
  border: 0; /* Remove iframe border */
  position: fixed;
  top: -1%;
  left: 0;
  z-index: 1; /* Higher z-index to appear above the beach image */
}

/* Timer styles */
.timer {
  position: fixed; /* Use fixed positioning */
  margin-right: 20px;
  z-index: 1000;
  top: 5px;
  left: 67%;
  right: 5px;
  font-weight: bolder;
  font-size: 30px;
  color: rgb(13, 12, 11);
}

/* Logo container styles */
#logo-container {
  position: relative; /* Make sure the container is positioned */
}

/* Logo styles */
.logo {
  position: fixed;
  top: 1.5%;
  left: 59%;
  transform: translateX(-100%);
  z-index: 990; /* Use a higher z-index to ensure it's on top */
  width: 350px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
}

/* Media query for timer on smaller screens */
@media only screen and (max-width: 600px) {
  .timer {
    top: 5px;
    margin-right: 20px;
    left: 100%;
    z-index: 1000;
    transform: translateX(-50%);
    width: 80%;
    max-width: 300px;
  }
  .logo {
    position: fixed;
    top: 1%;
    left: 59%;
    transform: translateX(-100%);
    z-index: 999; /* Use a higher z-index to ensure it's on top */
    width: 150px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
  }
}



/* Overlay footer styles */
.overlay-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px; /* Adjust the height as needed */
  background-color: rgb(255, 255, 255, 255);
  z-index: 3; /* Ensure the overlay is above the iframe and logo */
}

/* Center text in the overlay footer */
.overlay-footer p {
  text-align: center;
  line-height: 100px; /* Match the height of the overlay */
  margin: 0;
}

/* Footer logo styles */
.footer-logo {
  position: absolute;
  box-shadow: 5px 5px 5px rgb(21, 20, 20); /* Add shadow */
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  max-width: 15%; /* Adjust as needed */
  z-index: 1000; /* Higher z-index to be above overlay footer */
}

/* Responsive styles for larger screens */
@media screen and (min-width: 1025px) {
  body {
    font-size: 16px;
  }

  .container {
    width: 80%;
    margin: 0 auto;
  }

  .footer-logo {
    max-width: 15%; /* Adjust as needed */
  }
}

/* Responsive styles for smaller screens */
@media screen and (max-width: 600px) {
  body {
    font-size: 14px;
  }

  .container {
    width: 100%;
    padding: 10px;
  }
}
