.timer {
  position: fixed; /* Use fixed positioning */
  margin-right: 20px;
  z-index: 1000;
  top: 5%;
  left: 60%;
  right: 5px;
  font-weight: lighter;
  font-size: 12px; /* Set the font size to 12px */
  color: red; /* Change the color to red */
}

/* Media query for timer and logo on smaller screens */
@media only screen and (max-width: 600px) {
  .timer {
    top: 5%; /* Adjust the top position */
    left: 60%; /* Adjust the left position */
    margin-right: 20px;
    z-index: 1000;
    font-size: 18px; /* Adjust font size for smaller screens */
    color: red; /* Change the color to red */
  }
}

/* Media query for larger screens */
@media screen and (min-width: 1025px) {
  .timer {
    top: 5%;
    left: 60%;
    margin-right: 20px;
    font-size: 30px; /* Adjust font size for larger screens */
    color: red; /* Change the color to red */
  }
}
